footer{
     height: 20vh; 
    div{
        div{
            
            .tituloPie {
                
                color: white !important;
                margin-top: 30px;
                
            } 
            ul{
                .list-group-item {
                padding: 1px;
                margin: 1px;
                margin-top: 40px;   
            } 
                li{
                    
                    a{
                        .bi {
                            width: 40px !important;
                            height: 30px !important;
                            color: black 
                        
                        }
                        
                    }
                    
                }

            }
        }
    }
}